{% extends 'layouts/navbar.html' %}
{% load bootstrap4 %}

{% block title %}Authors{% endblock %}

{% block header %}Список авторов{% endblock %}

{% block content %}
    <div class="container">
        {% for author in authors %}
            <div class="card md-3">
                <div class="card-header">
                    <h4 class="card-title"><a href="{% url 'author_detail' pk=author.pk %}">{{ author.name }}</a></h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Bio: {{ author.bio }}</p>
                    <p class="card-text">Email: {{ author.email }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {% bootstrap_pagination page_obj size='large' %}
        </div>
    </div>
{% endblock %}
