{% extends 'layouts/navbar.html' %}
{% load bootstrap4 %}

{% block title %}{{ author.name }}{% endblock %}

{% block header %}Автор {{ author.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ author.name }}</h1>
                <p class="card-text">Email: {{ author.email }}</p>
                <p class="card-text">Bio: {{ author.bio }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{% url 'author_update' pk=author.pk %}">Редактировать</a>
            </div>
        </div>
    </div>
