<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% url 'author_list' as authors_url %}
    <p>{{ authors_url }}</p>
    {% for i in range %} <!-- [10, 11, 12...]  -->
    <p>Итерация {{ forloop.counter }} - Значение {{ i }}</p>
    {% endfor %}
    {% if first_condition %}
        <p>Первое условие - правда</p>
    {% else %}
        <p>Первое условие - неправда</p>
    {% endif %}
    {% if second_condition %}
        <p>Второе условие - правда</p>
    {% else %}
        <p>Второе условие - неправда</p>
    {% endif %}
    {% now 'SHORT_DATETIME_FORMAT' %}
</body>
</html>