{% extends 'layouts/navbar.html' %}
{% load bootstrap4 %}

{% block title %}Зарегестрироваться{% endblock %}

{% block header %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h2>Форма регистрации</h2>
        {% if user.is_authenticated %}
            <p>Вы уже в сети</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
